/* Styles for the "My Life" section */
.about.my-life {
  background-color: white;
}

.main-my-life {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

/* Styles for the "specific-stuff" div */
.specific-stuff {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  gap: 30px;
}

/* Styles for the individual "div-stuff" divs */
.div-stuff {
  border: 2px solid var(--second-color);
  border-radius: 0.5rem;
  height: 350px;
  width: 350px;
}

.div-stuff h5 {
  text-align: center;
  margin: 2%;
  color: white;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95%;
}

.div-stuff-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://cdn-icons-png.flaticon.com/512/2103/2103708.png);
  background-position: center;
  background-size: 350px;
  background-repeat: no-repeat;
}

.div-stuff-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://cdn-icons-png.flaticon.com/512/5219/5219574.png);
  background-position: center;
  background-size: 350px;
  background-repeat: no-repeat;
}

.div-stuff-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://cdn-icons-png.flaticon.com/512/2126/2126344.png);
  background-position: center;
  background-size: 350px;
  background-repeat: no-repeat;
}

.div-stuff-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://cdn-icons-png.flaticon.com/512/2643/2643483.png);
  background-position: center;
  background-size: 350px;
  background-repeat: no-repeat;
}

.div-stuff-1:hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url(https://cdn-icons-png.flaticon.com/512/2103/2103708.png);
}

.div-stuff-2:hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url(https://cdn-icons-png.flaticon.com/512/5219/5219574.png);
}

.div-stuff-3:hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url(https://cdn-icons-png.flaticon.com/512/2126/2126344.png);
}

.div-stuff-4:hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url(https://cdn-icons-png.flaticon.com/512/2643/2643483.png);
}

.div-stuff h5:hover {
  color: transparent;
}
