header {
  height: 120vh;
  background-image: linear-gradient(red, black);
}
/* 
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(red, black);
}
.navbar {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li > a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 15px;
}

li::after {
  content: "";
  width: 0rem;
  height: 0.15rem;
  background-color: white;
  display: block;
  border-radius: 0.2rem;
  margin: 0.2rem auto 0 auto;
  transition: all 0.3s ease-in-out;
}

li:hover::after {
  width: 2rem;
} */
