.main-count-stuff {
  background-color: var(--main-color-dark);
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  letter-spacing: 1px;
  /* color:var(--second-color); */
}

.main-count-stuff img {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8rem;
  margin-top: 5%;
  width: 30%;
  /* filter: invert(100%); */
}

.main-count-stuff p {
  color: white;

  line-height: 20px;
}

.main-count-stuff span {
  font-weight: bold;
  color: var(--second-color);
  word-wrap: break-word;
}

.count-stuff {
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}
