.contacts {
  color: white;
}

.main-contacts {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-contacts p {
  padding-bottom: 50px;
}

.main-contacts h5 {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.main-contacts h5 span {
  color: red;
  /* font-size: small; */
  padding-bottom: 5px;
}

.main-contacts h5 br {
  display: none;
}

.main-contacts span {
  color: var(--main-color);
  font-size: small;
}

.main-contacts img {
  color: red;
  width: 30px;
  margin-bottom: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: invert(12%) sepia(84%) saturate(6915%) hue-rotate(359deg)
    brightness(103%) contrast(108%);
}
