.about-me {
  background-color: var(--second-color);
  color: white;
  padding-bottom: 50px;
}

.about-text {
  width: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-me img {
  height: auto;
  width: 25%;
  border-radius: 999px;
  padding: 1.5%;
  border: 2px solid var(--main-color);
}

.main-about-me {
  width: 90%;
  max-width: 95%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text span {
  color: var(--main-color);
}

.about-text h5 {
  margin-bottom: 25px;
}

.about-text p {
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
}

@media only screen and (max-width: 700px) {
  .main-about-me {
    display: block;
    text-align: center;
  }
  .about-text {
    width: auto;
  }

  .about-me img {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .about-text p {
    font-size: 14px;
  }
}
